body{background-color: brown ;}

.cx-1, .cx-2 {margin: 30px;}

.cx-1 {width: calc(100% - 60px); height: 100px; background-color: cornsilk;}
.cx-2 {
    /*margin:0;*/ width: calc(50% - 60px); height: 100px; background-color: honeydew;float: left;}
.cx-interior{width: 100%; height: 50px; background: peru;
}



.cx-interior-2{width: calc(33.33% - 30px) ; height: 70px;; background: coral; float: left; padding: 15px;}
.cx-interior-3{width: calc(33.33% - 30px) ; height: 70px; background: cornflowerblue; float: left; padding: 15px;}
.cx-interior-4{width: calc(33.33% - 30px) ; height: 70px; background: darkgoldenrod; float: left; padding: 15px;}